/*
charcoal #63475d
sky blue #aad6dc
peach #f8cfaa
teal #559ca1
red #f0898e
yellow #fbfbd3
*/

body {
    background-color: #559ca1;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    display: grid;
    gap: 25px;
    justify-content: center;
    justify-items: center;
    font-size: 25px;
    color: #f8cfaa;

}

nav {

}

.tab {
    overflow: hidden;
}

#main {
    display: grid;
    justify-items: center;
    gap: 4em;
}

.content {
    display: grid;
    justify-items: center;
    gap: 1em;
}

.title {
    font-size: 2.5em;
    color: #f8cfaa;
    background-color: #63475d;
    padding: 10px 250px;
    border-radius: 50px;
}

.heading {
    font-size: 1.5em;
    color: #63475d;
    background-color: #aad6dc;
    padding: 5px 25px;
    border-radius: 25px;
}

.body {
    font-size: 1em;
    width: 500px;
    text-align: center;
}

.listContainer {
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
}

.listItem {
    list-style-type: none;
}

