/*
charcoal #63475d
sky blue #aad6dc
peach #f8cfaa
teal #559ca1
red #f0898e
yellow #fbfbd3
*/

body {
    background-color: #559ca1;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    display: grid;
    gap: 25px;
    justify-content: center;
    justify-items: center;
    font-size: 25px;
    color: #f8cfaa;
    margin: 50px;

}

nav {
    overflow: hidden;
    background-color: #559ca1;
    border-bottom: 5px solid #aad6dc;
    /* border-radius: 10px 0 10px 0; */
}

nav .tab {
    font-size: 1em;
    color: #63475d;
    background-color: inherit;
    float: left;
    border: none;
    border-radius: 25px 25px 0 0;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}

nav button:hover {
    background-color: #86C5CD;
}

nav button.active {
    background-color: #aad6dc;
}

#main {
    display: grid;
    justify-items: center;
    gap: 4em;
}

.content {
    display: grid;
    justify-items: center;
    gap: 1em;
}

.title {
    font-size: 2.5em;
    color: #f8cfaa;
    background-color: #63475d;
    padding: 10px 250px;
    border-radius: 50px;
}

.heading {
    font-size: 1.5em;
    color: #63475d;
    background-color: #aad6dc;
    padding: 5px 25px;
    border-radius: 25px;
}

.body {
    font-size: 1em;
    width: 500px;
    text-align: center;
}

.listContainer {
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
}

.listItem {
    list-style-type: none;
}

.img {
    width: 500px;
    border-radius: 50px;
}